# Strings

In [36]:
string1 = 'Innomatics '
string1

'Innomatics '

In [3]:
print(string1)

Innomatics

In [4]:
# data type of string1
type(string1)

str

In [11]:
# length of anything
# also will count space
len(string1)

11

# Indexing
- Starts from 0

In [12]:
string1

'Innomatics '

In [13]:
#string1[index_number]
string1[0]

'I'

In [14]:
# extract "t"
string1[6]

't'

I n n o m a t i c s 

0 1 2 3 4 5 6 7 8 9

> extract "I" and "t"

Method 1

In [16]:
# concatination

In [15]:
string1[0] + string1[6]

'It'

In [17]:
# converting raw data to into tuple or sequence
string1[0] , string1[6]

('I', 't')

> Extract Inno in "Innomatics"

In [24]:
string1[1:4] #  Range = 4 - 1 = 3 means we want four characters

'nno'

> Extract "tics" in "Innomatics"

In [31]:
# postion of t is 6
string1[6:100] # Range is starting from 6 , 6+4 = 10

'tics '

> Extract last letter in Innomatics

In [33]:
string1[9]

's'

In [41]:
string1[-1] # last

' '

I    n   n   o   m    a   t     i   c     s 


-10 -9  -8  -7  -6  -5   -4   -3   -2    -1

In [44]:
string2 = 'Innomatics Hub'

> Extract Last three characters in "Innomatics Hub"

In [49]:
string2[-3:-1]

'Hu'

In [52]:
string2[11:]#  index: -> index position to end

'Hub'

In [53]:
string2[:11]#  :index -> starting to index position

'Innomatics '

In [55]:
string2[8:11]

'cs '

In [57]:
string2[:] # : display everything

'Innomatics Hub'

> print alternate characters in Innomatics Hub starting with "I" 

I n m t c  u

In [60]:
string2[0:-1:2]
#      start:stop:step

'Inmtc u'

In [61]:
string2[0::2]
#      start:stop:step

'Inmtc u'

In [62]:
string2[::2]

'Inmtc u'

> print alternate characters in Innomatics Hub starting with "o" 

oaisHb

In [64]:
string2[3::2]

'oaisHb'

> Print Innomatics Hub in reverse order

buH csitamonnI

In [66]:
string2[-1::-1]

'buH scitamonnI'

In [68]:
string2[::-1]

'buH scitamonnI'

> print "scit" in "Innomatics Hub"

In [70]:
string2[9:5:-1]
      # start, stop , step
      # 9 : 5: -1 = 9, 8, 7, 6

'scit'

# Operations

In [72]:
string3 = string2 + " Technology"
string3

'Innomatics Hub Technology'

- Strings are immutable

In [75]:
string3[0] = 'S'

TypeError: 'str' object does not support item assignment

In [79]:
# converting every character into lower case
string3 = string3.lower()
string3

'innomatics hub technology'

- after dot press tab
- shift + tab for syntax

In [80]:
string3.capitalize()

'Innomatics hub technology'

In [86]:
string3 = string3.upper()

In [87]:
string3

'INNOMATICS HUB TECHNOLOGY'

In [90]:
string3.index('I') # it will return first found

0

In [92]:
string3.islower()

False

In [96]:
string3.endswith('Y')

True

In [99]:
string3.split('S')

['INNOMATIC', ' HUB TECHNOLOGY']

In [100]:
string4 = 'Srikanth?Innomatics?,Hub'

In [101]:
string4

'Srikanth?Innomatics?,Hub'

In [107]:
string4.split('?') # seperation key is called delimiter

['Srikanth', 'Innomatics', ',Hub']